<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Spital Management System</display-name>

    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:h2://localhost:8082/spital_db</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>spital_user</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>Asdfg12345</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--Mapping zur Datenbank-->
    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/h2-console/*</url-pattern>
    </servlet-mapping>

</web-app>
